.product-img-products img{

   width: 10vw;

}
.minus_short, .plus_short{
	width: 20px;
	height: 24px;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 2px;
	background: none;
	outline: none;
}
.prices_cost_short{

    position: absolute;
    right: 17%;
}
.product_empty{

    font-size: 20px;
    font-weight: bold;
}
