.product-img-products img{

   width: 10vw;

}
.minus_short, .plus_short,.plus_edit,.minus_edit{
	width: 20px;
	height: 24px;
	font-weight: 700;
	border: 1px solid #000;
	border-radius: 2px;
	background: none;
	outline: none;
    cursor: pointer;
}
.prices_cost_short{

    position: absolute;
    right: 17%;
}
.product_empty{

    font-size: 20px;
    font-weight: bold;
}
.in_percent_margin{

    margin-bottom: -23px;
}
.single_size_group_size{

    padding: 0px!important;

}
#size_all_content_edit,#size_all_content_edit_material{

    background-color: white;
}
#size_second_item{

    color: black!important;
}
.set_capital_img{

    width: 25px;
    margin-top: 5px;
    -webkit-transform: scale(1.5);
    height: 14px!important;

}
.drop-image_edit_pr img{

    cursor: pointer;

}
