.delete-all-products{

    font-weight: 700;

    cursor: pointer;
    border: none;
    background-color: unset;
}
.cancel{
	width: 100px;
	height: 34px;
	border: 1px solid #E54500;
	border-radius: 8px;
	color: #E54500;
}
.delete{
    width: 100px;
	height: 34px;
	background: #E54500;
	border-radius: 8px;
	color: #fff;
	border: none;
}
.img-delete{
	width: 60px
}
