.top-und{
    border-bottom: 3px solid #E2D6C6;
}
.back-home{
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
}
.first-flex{
    margin-top: 25px;
}

.caps{
	font-variant: small-caps;
    font-family: 'Sedan SC 400';
    text-transform: capitalize;
    font-size: 25px;
    line-height: 29px;
    margin-bottom:45px;
}

.bigflex-item{
    width: 25%;
    border-left: 1px solid #E9E0D5;
    border-right: 1px solid #E9E0D5;
    padding-bottom: 35px;
    border-bottom: 1px solid #E9E0D5;
    padding-bottom: 8px;
    padding-top:  15px;
}
.hov-stars1 img{
    width: 15px;

}
.img-main{
    width: 100%;
    height: auto;
    transition: filter 0.5s;
}

.item-inner{
    padding: 0 18px;
    position: relative;

}


.bold-hov1 {
    font-size: 13px;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    color: #101010;
}
.hov-owner1{
    font-size: 12px;
    font-weight: 600;
}

.addToCart1{
    color:#6C491C;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    font-weight: bolder;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.num-stars1{
    color:#6C491C;
    text-shadow: 0px 0.2px, 0.2px 0px, 0.2px 0.2px;
    font-size: 13px;
    margin-left: 7px;
}
.cart{
    margin-top: 7px;
}
.hov-stars1 {
    padding-top: 5px;
}

.rel-hov{
    position: relative;
}
.abs-center {
    margin: 0;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.abs-left{
    margin-left: 14px;
}
.abs-width{
    width: 28px;
}

.pagination-cont nav{
	background: #fff
}
.pagination{
	width: min-content;
	margin: 0 auto;
}
.page-link{
	color: #764D10;
	font-size: 15px;
	font-weight: bold;
}
.pagination .page-item:hover:not(.active) {
    background-color: #ddd;
}
.hotOfferCont{
    position: relative;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.248);
}
.abs-hot-offer{
    position: absolute;
    top: -4px;
    left: 230px;
    width: 427px;
}
.hotOfferItem{
    width: 50%;
    font-family: Sedan SC;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 35px;
    margin-top: 15px;
}
.hot-1{
    background-color: #BD3636;

}
.hot-2{
    background-color:#DF5700;

}
.subscribe{
    background-color: #FFF0DD;
    text-align: center;
    margin-bottom: 50px;
}
.subs-caption{
    margin-top: 50px;
    padding-top: 5px;
    font-size: 22px;
    margin-bottom: 5px;
}
.inp-email{
    padding: 8px;
    border: none;
    width: 450px;
}
.but-submit{
    padding: 8px;
    background-color: #E9894D;
    color: white;
    font-size: 14px;
    border: none;
    width: 154px;
}
.mar-left{
    margin-left: 10px;
}

.bold-hov2{
    font-size: 13px;
    text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
    color: black;

}
.item-img-hot{
    position: absolute;
    z-index: 2;
    width: 149px;
    top: -6px;
    left: 30px;
}
.main-flex-item-color{
    width:23%;
    height: 350px;
    border: 1px solid grey;
}
.bigflex{
    width: 73%;
}
#result-message{
	font-size: 12px;
	font-weight: bolder;
    margin-top: 15px;
    height: 20px;

}
.invalid{
	color: red;
}


@media (max-width: 1199px){
    .abs-hot-offer {
        top: 0px;
        left: 201px;
        width: 341px;
    }
    .bigflex-item{
        width: 33.333%;
    }
    .item-img-hot {
        left: 39px;
    }
}
@media (max-width: 991px){
    .abs-hot-offer {
        left: 114px;
        width: 327px;
    }

    .item-img-hot {
        left: 12px;
    }
    .abs-width {
        width: 23px;
    }

}
@media (max-width: 767px){

    .hotOfferCont {
        margin-top: 15px;

    }
    .abs-hot-offer {
        left: 70px;
        width: 272px;
        top: 3px;
    }
    .hotOfferItem {
        font-size: 22px;
    }
    .bigflex-item{
        width: 50%;
    }
    .item-img-hot {
        left: 20px;
    }

}
@media (max-width: 668px){

    .inp-email {
        width: 250px;
    }
    .but-submit {
        width: 133px;
    }
}
@media (max-width: 558px){
    .hotOfferItem {
        font-size: 14px;
        padding: 15px;
    }
    .item-img-hot {

        width: 118px;
        top: -5px;
        left: 12px;
    }
    .abs-width{
        width: 17px;
    }
}
@media (max-width: 425px){
    .hov-stars1 img{
        width: 12px;
    }
    .item-inner {
        padding: 0 8px;
    }
    .item-img-hot {
        left: 13px;
    }
    .abs-hot-offer {
        left: 47px;
        width: 221px;
        top: 5px;
    }
}
@media (max-width: 375px){
    .abs-hot-offer {
        left: 34px;
        width: 208px;
        top: 6px;
    }
    .inp-email {
        width: 170px;
    }
    .item-img-hot {
        width: 102px;
}
.addToCart1 {
    font-size: 12px;
    margin-left: 9px;
}
.hov-owner1 {
    font-size: 11px;
}

.hov-stars1 img{
    width: 10px;
}
.subs-div{
    font-size: 11px;
}
.subs-div>button {
    font-size: 11px;
}
}

@media (max-width: 320px){
.num-stars1 {
    font-size: 9px;
    margin-left: 1px;
}
.abs-width {
    width: 13px;
}


.addToCart1 {
    font-size: 10px;
    margin-left: 7px;
}
.bold-hov2 {
    font-size: 11px;
}
.item-img-hot {
    width: 99px;
    left: 4px;
}
}
